<h1>Listing gossips</h1>

<table>
  <thead>
    <tr>
      <th>anonymous_author</th>
      <th>content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @gossip.each do |goss| %>
  <tr>
    <td><%= goss.anonymous_author %></td>
    <td><%= goss.content %></td>
  
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New', new_gossip_path %>
